
<main class="main-wrapper">
  <!-- Start Breadcrumb Area  -->
  <div class="axil-breadcrumb-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-8">
          <div class="inner">
            <ul class="axil-breadcrumb">
              <li class="axil-breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="separator"></li>
              <li class="axil-breadcrumb-item active" aria-current="page">About Us</li>
            </ul>
            <h1 class="title">About Our Store</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-4">
          <div class="inner">
            <div class="bradcrumb-thumb">
              <img src="../../../assets/images/bg/farah2.png" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Area  -->
  <!-- Start About Area  -->
  <div class="axil-about-area about-style-1 axil-section-gap ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-6">
          <div class="about-thumbnail">
            <div class="thumbnail">
              <img src="https://i.pinimg.com/736x/0c/dd/fc/0cddfca8bb64f2bb3afe538a17b73fe4.jpg" alt="About Us">
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-6">
          <div class="about-content content-right">
            <span class="title-highlighter highlighter-primary2"> <i class="far fa-shopping-basket"></i>About Artify</span>
            <h2 class="title">Welcome to Artify – Your Creative Space!</h2>
            <span class="text-heading">
              At Artify, we believe that art is more than just a hobby; it’s a way of life. Whether you're a professional artist, an aspiring painter, or someone who just loves to doodle, we are here to provide you with everything you need to bring your creative vision to life.
              <br /><br />
              We are an online art and drawing supplies store dedicated to offering high-quality materials for all types of artists. From paints and brushes to sketchpads and pencils, we carefully select the best products to fuel your artistic journey. Our mission is simple: to inspire creativity, one brushstroke at a time.
            </span>
            <div class="row">
              <div class="col-xl-6">
                <!--<p>
                  Empower your sales teams with industry tailored
                  solutions that support manufacturers as they go
                  digital, and adapt to changing markets & customers
                  faster by creating new business.
                </p>-->
              </div>
              <div class="col-xl-6">
                <!--<p class="mb--0">
                  Salesforce B2B Commerce offers buyers the
                  seamless, self-service experience of online
                  shopping with all the B2B
                </p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About Area  -->
  <!-- Start About Area  -->
  <div class="about-info-area">
    <div class="container">
      <div class="row row--20">
        <div class="col-lg-4">
          <div class="about-info-box" style=" height: 422px;">
            <div class="thumb" style="display:flex; justify-content:center">
              <img src="https://i1.wp.com/linkilaw.com/wp-content/uploads/2018/03/Icons-website3rdversion-06-small2-1-1.png" alt="Shape" style="height:166px">
            </div>
            <div class="content">
              <h3 class="title">+5,000 Happy Customer</h3>
              <p>
                We are proud to serve over 40,000 artists worldwide, providing
                them with the best tools to unleash their creativity.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-info-box" style=" height: 422px;">
            <div class="thumb" style="display:flex; justify-content:center">
              <img src="https://icon-library.com/images/branding-icon-png/branding-icon-png-0.jpg" alt="Shape" style="height:166px">
            </div>
            <div class="content">
              <h3 class="title">+10 Leading Art Brands</h3>
              <p>
                We bring you the finest tools from over 10 renowned art brands,
                ensuring quality and inspiration in every stroke.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-info-box" style=" height: 422px;">
            <div class="thumb" style="display:flex; justify-content:center">
              <img src="https://cdn1.iconfinder.com/data/icons/education-outline-16/61/028_-_Art_Supplies-512.png" alt="Shape" style="height:166px">
            </div>
            <div class="content">
              <h4 class="title">+1,000 Premium Art Supplies</h4>
              <p>
                Explore over 1,000 high-quality products from top global brands—everything
                you need to unleash your creativity!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About Area  -->
  <!-- Start About Area  -->
  <div class="axil-about-area about-style-2">
    <div class="container">
      <div class="row align-items-center mb--80 mb_sm--60">
        <div class="col-lg-5">
          <div class="about-thumbnail">
            <img src="https://i.pinimg.com/736x/a7/18/c4/a718c4397f3bd769b2d339cc00b47a4f.jpg" alt="about" style=" height: 501px; ">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-content content-right">
    
            <h4 class="title">Why Artify?</h4>
            <ul >
              <li style="color:black">Wide Range of Products: We offer a curated selection of premium art supplies, carefully sourced from top brands around the world. Whether you're into watercolors, oil painting, digital art, or calligraphy, Artify has you covered.</li>
              <li style="color:black">Quality You Can Trust: Our team works diligently to ensure every product we offer is of the highest quality, so you can create with confidence. We believe the right tools make all the difference.</li>
              <li style="color:black">Affordable Prices: Artistry should never be limited by cost. That’s why we strive to keep our prices competitive while maintaining the quality and excellence that artists deserve.</li>
              <li style="color:black">Fast & Secure Shipping: We understand the importance of having your supplies when you need them. That’s why we offer fast and reliable shipping, so you can spend more time creating and less time waiting.</li>
              <li style="color:black">Passion for Art: Above all, we are passionate about art and want to help others discover the joy of expressing themselves through creativity. Whether you are a beginner or an experienced artist, Artify is here to support and guide you on your artistic journey.</li>
            </ul>
      
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 order-lg-2">
          <div class="about-thumbnail">
            <img src="https://i.pinimg.com/736x/db/28/21/db282127bd1a86f79465aac4c8fe1468.jpg" alt="about" style=" height: 501px; margin-bottom: 61px;">
          </div>
        </div>
        <div class="col-lg-7 order-lg-1">
          <div class="about-content content-left">

            <h4 class="title">Our Commitment to You</h4>
            <span class="text-heading">
              At Artify, customer satisfaction is our priority. Our user-friendly website and dedicated customer service team are always here to assist you with any questions or concerns. We are more than just a store—we are a community of artists, creators, and dreamers, and we can’t wait to see what you create!
              <br /><br />
              Thank you for choosing Artify. Together, let’s make the world a more colorful place.
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About Area  -->
  <!-- Start Team Area  -->
  <div class="axil-team-area bg-wild-sand">
    <div class="team-left-fullwidth">
      <div class="container ml--xxl-0">
        <div class="section-title-wrapper">
          <span class="title-highlighter highlighter-primary"> <i class="fas fa-users"></i> Our Team</span>
          <h3 class="title">Expart Management Team</h3>
        </div>
        
        <div class="row mt-5">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://cdn2.vectorstock.com/i/1000x1000/98/11/girl-icon-flat-single-avatarpeaople-icon-from-vector-14449811.jpg" class="card-img-top" alt="Sally Alzoubi">
              <div class="card-body">
                <h5 class="card-title">Sally Alzoubi</h5>
                <p class="card-text">Scrum Master</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://cdn4.vectorstock.com/i/1000x1000/98/63/woman-icon-flat-single-avatarpeaople-icon-from-vector-14449863.jpg" class="card-img-top" alt="Farah Hatsuk">
              <div class="card-body">
                <h5 class="card-title">Farah Hatsuk</h5>
                <p class="card-text">Product Owner</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://cdn4.vectorstock.com/i/1000x1000/78/53/avatar-men-design-vector-14527853.jpg" class="card-img-top" alt="Firas AbuMalloh">
              <div class="card-body">
                <h5 class="card-title">Firas AbuMalloh</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://cdn2.vectorstock.com/i/1000x1000/78/31/avatar-woman-design-vector-14527831.jpg" class="card-img-top" alt="Jana Abdalsalam">
              <div class="card-body">
                <h5 class="card-title">Jana Abdalsalam</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://clipground.com/images/woman-messy-hair-clipart-9.jpg" class="card-img-top" alt="Sondos Athamneh">
              <div class="card-body">
                <h5 class="card-title">Sondos Athamneh</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://cdn3.vectorstock.com/i/1000x1000/91/57/avatar-men-design-vector-14499157.jpg" class="card-img-top" alt="Hazem Frehat">
              <div class="card-body">
                <h5 class="card-title">Hazem Frehat</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Team Area  -->
  <!-- Start Axil Newsletter Area  -->
  <div class="axil-newsletter-area axil-section-gap">
    <div class="container">
      <div class="etrade-newsletter-wrapper bg_image bg_image--5">
        <div class="newsletter-content">
          <!--<span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>-->
          <h2 class="title mb--40 mb_sm--10" style="color:white"><i class="fas fa-envelope-open"></i>   Get In Touch With Us</h2>
          <div class="input-group newsletter-form">
            <!--<div class="position-relative newsletter-inner mb--15">
              <input placeholder="example@gmail.com" type="text">
            </div>-->
            <button type="submit" class="axil-btn mb--15">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End .container -->
  </div>
  <!-- End Axil Newsletter Area  -->
</main>
