
<div class="card-footer small text-muted"><a routerLink="/dashboard/addProduct" class="btn btn-success">Add Product</a></div>

<div class="product">
  <div *ngFor="let product of Product">
    <div class="card text-dark bg-light mb-3" style="width: 18rem;">
      <img src="{{product.img}}" class="card-img-top" alt="img">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h5 class="card-title">{{ product.rating }}</h5>
        <p class="card-text">{{ product.price }}</p>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.discount }}</p>

        <td><a routerLink="/dashboard/editProduct/{{product.id}}" class="btn btn-primary">Edit Product</a></td>
        <td><button class="btn btn-danger btn-sm" (click)="DeletedProduct(product.id)">delete</button></td>

      </div>
    </div>
  </div>
</div>
