<a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<header class="header axil-header header-style-1">
  
  <div class="axil-header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="header-top-dropdown" id="google_translate_element">
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Language
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="changeLanguage('en')">English</a></li>
                <li><a class="dropdown-item" onclick="changeLanguage('ar')">Arabic</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="header-top-link">
            <ul class="quick-link" *ngIf="!isLoggedIn">
              <li><a routerLink="/register">Register</a></li>
              <li><a routerLink="/login">Login</a></li>
            </ul>
            <ul class="quick-link" *ngIf="isLoggedIn">
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Mainmenu Area  -->
  <div id="axil-sticky-placeholder"></div>
  <div class="axil-mainmenu">
    <div class="container">
      <div class="header-navbar">
        <div class="header-brand">
          <a href="index.html" class="logo logo-dark">
            <img src="assets/images/logo/Artify2.png" alt="Site Logo" class="w-25">
          </a>
          <a href="index.html" class="logo logo-light">
            <img src="assets/images/logo/Artify2.png" alt="Site Logo" class="w-25">
          </a>
        </div>
        <div class="header-main-nav">
          <!-- Start Mainmanu Nav -->
          <nav class="mainmenu-nav">
            <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
            <div class="mobile-nav-brand">
              <a href="index.html" class="logo">
                <img src="assets/images/logo/Artify2.png" alt="Site Logo" class="w-25">
              </a>
            </div>
            <ul class="mainmenu">
              <li >
                <a href="/home">Home</a>
                
              </li>
              <li >
                <a routerLink="/shop">Shop</a>
                
              </li>
              
              <li><a routerLink="/about">About</a></li>
              
              <li><a routerLink="/contactUs">Contact</a></li>
            </ul>
          </nav>
          <!-- End Mainmanu Nav -->
        </div>
        <div class="header-action">
          <ul class="action-list">
            <!--<li class="axil-search">
              <a href="javascript:void(0)" class="header-search-icon" title="Search">
                <i class="flaticon-magnifying-glass"></i>
              </a>
            </li>-->
            
            <li class="shopping-cart">
              <a routerLink="/cart" class="cart-dropdown-btn">
                <span *ngIf="cartItemsCount>0" class="cart-count">{{ cartItemsCount }}</span>
                <i class="flaticon-shopping-cart"></i>
              </a>
            </li>
            <li class="my-account" *ngIf="isLoggedIn">
              <a href="javascript:void(0)">
                <i class="flaticon-person"></i>
              </a>
              <div class="my-account-dropdown">
                <span class="title">QUICKLINKS</span>
                <ul>
                  <li>
                    <a routerLink="/profile">My Account</a>
                  </li>
                </ul>
                <div class="login-btn">
                  <a (click)="logout()" class="axil-btn btn-bg-primary text-white" style="color:black; text-decoration: none;">Login</a>
                </div>
              </div>
            </li>
            <li class="axil-mobile-toggle">
              <button class="menu-btn mobile-nav-toggler">
                <i class="flaticon-menu-2"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Mainmenu Area -->
</header>
