

<div  class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">

    <form #edit="ngForm" (ngSubmit)="editCategory(edit.value)" class="bg-dark text-white p-4 rounded">
      <h2 class="text-center mb-4" style="color:white">Edit Category</h2><br />
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name Of Category</label>
        <input type="text" class="form-control" name="name" ngModel [(ngModel)]="Category.name">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description Of Category</label>
        <input type="text" class="form-control" name="description" ngModel [(ngModel)]="Category.description">
      </div>

      <div class="mb-3">
        <label class="form-label">Image Of Category</label>
        <input type="file" class="form-control" id="image"  (change)="onFileSelected($event)">
        <img *ngIf="Category.img" [src]="Category.img" class="img-thumbnail mt-2" width="100">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      <br /><br />
      <a routerLink="/dashboard/category"><button class="btn btn-primary">Cancel</button> </a>
    </form>

  </div>
</div>
