/* إزالة الأسهم من حقول الإدخال */
input[type="number"] {
  -moz-appearance: textfield; /* لإخفائها في فايرفوكس */
}

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
