
<div  class="d-flex justify-content-center align-items-center vh-100" style=" margin-bottom: 79px; margin-top: 79px;">
  <div class="col-md-6">

    <form #product="ngForm" (ngSubmit)="addProduct(product.value)" class="bg-dark text-white p-4 rounded">
      <h2 class="text-center mb-4" style="color:white">Add Product</h2><br />
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name Of Product</label>
        <input type="text" class="form-control" name="name" ngModel>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Price Of Product</label>
        <input type="number" class="form-control" name="price" ngModel>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating Of Product</label>
        <input type="number" class="form-control" name="rating" ngModel>
      </div>

      <!--<div cclass="mb-3">
    <label for="categoryID" class="form-label" name="categoryID">Category</label>
    <select class="form-select " aria-label="Default select example" name="categoryID" id="categoryID" ngModel>
      <option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</option>
    </select>
  </div>-->

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description Of Product</label>
        <input type="text" class="form-control" name="description" ngModel>
      </div>

   
      <div class="mb-3">
        <label class="form-label">Image Of Product</label>
        <input type="file" class="form-control" id="image" (change)="onFileSelected($event)" required>
        <img *ngIf="productData.img" [src]="productData.img" class="img-thumbnail mt-2" width="100">
      </div>


      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Discount Product</label>
        <input type="number" class="form-control" name="discount" ngModel>
      </div>
      <input [(ngModel)]="categoryId" name="categoryID" type="number" hidden />

      <button type="submit" class="btn btn-success">Submit</button>
      <br /><br />
      <button class="btn btn-primary" (click)="goToProducts()">Cancel</button>
      <!--<a routerLink="/dashboard/product/{{categoryId}}"><button class="btn btn-primary">Cancel</button> </a>-->
    </form>

  </div>
</div>


